!.gitignore
!*.c
!*.C
!*.cpp
!*.CPP
!*.h
!*.H
!*.ewp
!*.ewd
!*.eww
!*.txt
!*.s51
!*.cfg

*.pdf
*.PDF
*.pbi
*.lib
*.dll
*.exe
*.r51
*.chm
*.ico
*.dat
*.zjs
*.xml
*.hex
*.bin
*.rar
*.zip
*.7z
cscope.files
cscope.out
tags
*.swp
*.wsdt
*.dep
*.pbd
